.libron_gray {
  color:#666666;
}

div.libron_link_div {
  display:table;
  width:360px;
  padding:7px;
  border:1px solid #cbc6bd;
  background:#e8e4db;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  font-size:12px;
  margin-bottom:10px;
}

div.libron_link_div div {
  padding:0 !important;
  margin-top:5px !important;
}

div.libron_link_div img {
  vertical-align:middle;
}
